language: scala
sudo: false
jdk: oraclejdk7
scala:
  - 2.10.6
  - 2.11.11
script:
  - sbt ";set g8Properties in g8 in Test ~= { _ + (\"scala_version\" -> \"$TRAVIS_SCALA_VERSION\")}; g8Test"
matrix:
  include:
  - jdk: oraclejdk8
    scala: 2.12.3
addons:
  apt:
    packages:
    - oracle-java8-installer
